camera_inventory/flow.json
[{"id":"75ff8ffc.5be8b","type":"subflow","name":"Refresh Cameras","info":"","category":"","in":[{"x":80,"y":100,"wires":[{"id":"e24862fc.e27398"}]}],"out":[{"x":840,"y":300,"wires":[{"id":"61afbdd5.f03d0c","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"1a93d0d1.416167","type":"Axis Camera","z":"75ff8ffc.5be8b","name":"Properties","account":"5325eb5.c46bf14","address":"","action":"Get Properties","data":"properties","format":"default","x":230,"y":220,"wires":[["a594ff8b.75a408"]]},{"id":"a594ff8b.75a408","type":"function","z":"75ff8ffc.5be8b","name":"Parse","func":"if(msg.error) {\n    msg.camera.status = \"Unable to access camera\";\n    return msg;\n}\n\nmsg.camera.serial = msg.payload.System.SerialNumber;\nmsg.camera.platform = msg.payload.System.Architecture;\nmsg.camera.chip = msg.payload.System.Soc;\nmsg.camera.firmware = msg.payload.Firmware.Version;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":220,"wires":[["687d1357.3a68b4"]]},{"id":"62d9f6be.d2c108","type":"Axis Camera","z":"75ff8ffc.5be8b","name":"Brand/model","account":"5325eb5.c46bf14","address":"","action":"Get Properties","data":"brand","format":"default","x":230,"y":180,"wires":[["75c91a18.42148c"]]},{"id":"75c91a18.42148c","type":"function","z":"75ff8ffc.5be8b","name":"Parse","func":"if(msg.error) {\n    msg.camera.status = \"Unable to access camera\";\n    return msg;\n}\n\nmsg.camera.model = msg.payload.ProdNbr;\nmsg.camera.type = msg.payload.ProdType;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":180,"wires":[["1a93d0d1.416167"]]},{"id":"b348acdd.9814d","type":"Axis Camera","z":"75ff8ffc.5be8b","name":"Network","account":"5325eb5.c46bf14","address":"","action":"Get Properties","data":"network","format":"default","x":220,"y":140,"wires":[["ab7f8976.0cae38"]]},{"id":"ab7f8976.0cae38","type":"function","z":"75ff8ffc.5be8b","name":"Parse","func":"if(msg.error) {\n    msg.camera.status = \"Unable to access camera\";\n    return msg;\n}\n\nmsg.camera.mac = msg.payload.eth0.MACAddress\nmsg.camera.ipv4 = msg.payload.eth0.IPAddress\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":140,"wires":[["62d9f6be.d2c108"]]},{"id":"687d1357.3a68b4","type":"Axis Camera","z":"75ff8ffc.5be8b","name":"Sensor","account":"5325eb5.c46bf14","address":"","action":"Get Properties","data":"ImageSource.I0","format":"default","x":220,"y":260,"wires":[["35315ddc.37831a"]]},{"id":"70e3e9b1.4a10b8","type":"Axis Camera","z":"75ff8ffc.5be8b","name":"","account":"5325eb5.c46bf14","address":"","action":"Image","data":"","format":"base64","x":210,"y":300,"wires":[["7e8ec353.abe6c4"]]},{"id":"7e8ec353.abe6c4","type":"function","z":"75ff8ffc.5be8b","name":"Parse","func":"if(msg.error) {\n    msg.camera.status = \"Unable to access camera\";\n    return msg;\n}\n\nmsg.camera.image = msg.payload;\nmsg.payload = msg.camera;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":300,"wires":[["61afbdd5.f03d0c"]]},{"id":"35315ddc.37831a","type":"function","z":"75ff8ffc.5be8b","name":"Parse","func":"if(msg.error) {\n    msg.camera.status = \"Unable to access camera\";\n    return msg;\n}\n\nmsg.camera.aspect = msg.payload.I0.Sensor.AspectRatio\n\nmsg.payload = \"resolution=640x360\"\nif( msg.camera.aspect === \"4:3\" )\n    msg.payload = \"resolution=640x480\"\nif( msg.camera.aspect === \"1:1\" )\n    msg.payload = \"resolution=640x640\"\nreturn msg;\n","outputs":1,"noerr":0,"x":410,"y":260,"wires":[["70e3e9b1.4a10b8"]]},{"id":"e24862fc.e27398","type":"function","z":"75ff8ffc.5be8b","name":"For Each Camera","func":"cameras = global.get(\"cameras\");\nif(!cameras)\n    return;\n    \nfor( var key in cameras ) {\n    cameras[key].status = \"OK\"\n    node.send({\n        address: cameras[key].address,\n        camera: cameras[key]\n    })\n}\n","outputs":1,"noerr":0,"x":250,"y":100,"wires":[["b348acdd.9814d"]]},{"id":"61afbdd5.f03d0c","type":"function","z":"75ff8ffc.5be8b","name":"","func":"msg.payload = [];\n\ncameras = global.get(\"cameras\");\nif(!cameras)\n    return msg;\ncameras[msg.camera.serial] = msg.camera;\n\nfor( var key in cameras ) {\n    msg.payload.push(cameras[key]);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":300,"wires":[[]]},{"id":"5325eb5.c46bf14","type":"Camera Account","z":"","name":"root","protocol":"http"},{"id":"5586ce6c.59f9c","type":"tab","label":"Cameras","disabled":false,"info":""},{"id":"aff30974.767a48","type":"ui_table","z":"5586ce6c.59f9c","group":"1b21a32.8a1085d","name":"","order":4,"width":"18","height":"6","columns":[{"field":"name","title":"Name","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"address","title":"Address","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"model","title":"Model","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"serial","title":"Serial number","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"platform","title":"Platform","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"firmware","title":"Firmware","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"status","title":"Status","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":430,"y":200,"wires":[["10f9e946.d840e7"]]},{"id":"97d0be8f.3ca9b8","type":"link in","z":"5586ce6c.59f9c","name":"Refresh Camera Table","links":["939cf95e.305df","7f108649.dea0a8","670281f4.bd109","e76c8bb6.59d308","6b23fe20.dac7","3403cffd.d2fa7"],"x":95,"y":200,"wires":[["de1c0207.9e4498"]]},{"id":"2cdca475.da4f6c","type":"ui_button","z":"5586ce6c.59f9c","name":"Remove","group":"7521dba6.ea47a4","order":5,"width":"0","height":"0","passthru":false,"label":"Remove","tooltip":"Remove the camera from inventory","color":"","bgcolor":"red","icon":"delete","payload":"","payloadType":"str","topic":"","x":140,"y":400,"wires":[["dbe85675.cdd91"]]},{"id":"dbe85675.cdd91","type":"function","z":"5586ce6c.59f9c","name":"Remove camera","func":"cameras = global.get(\"cameras\")\ncamera = flow.get(\"camera\");\nif( !camera || !cameras ) return;\ndelete cameras[camera.serial];\nflow.set(\"camera\");\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":400,"wires":[["670281f4.bd109"]]},{"id":"670281f4.bd109","type":"link out","z":"5586ce6c.59f9c","name":"","links":["97d0be8f.3ca9b8","6a493443.b0b4e4","ac63a79e.5aac"],"x":615,"y":400,"wires":[]},{"id":"6b3fcf87.922808","type":"function","z":"5586ce6c.59f9c","name":"Camera","func":"msg.address = msg.payload.address;\nflow.set(\"name\",msg.payload.name)\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":740,"wires":[["e0a75e71.e9ae18"]]},{"id":"7544f574.f8d9a4","type":"function","z":"5586ce6c.59f9c","name":"Error","func":"if( msg.error === false)\n    return;\nmsg.payload = \"Cannot access device\";\nreturn msg;\n","outputs":1,"noerr":0,"x":890,"y":700,"wires":[["90516974.6a7dc8"]]},{"id":"90516974.6a7dc8","type":"ui_toast","z":"5586ce6c.59f9c","position":"top right","displayTime":"5","highlight":"red","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":1090,"y":700,"wires":[]},{"id":"21780462.fe1e9c","type":"Axis Discovery","z":"5586ce6c.59f9c","name":"","x":520,"y":560,"wires":[["f3b81146.f8d6"]]},{"id":"f3b81146.f8d6","type":"function","z":"5586ce6c.59f9c","name":"Discoveries","func":"cameras = global.get(\"cameras\");\nif(!cameras) {\n    cameras = {}\n    global.set(\"cameras\",cameras);\n}\n\nfor(var serial in cameras ) {\n    if( msg.payload.serial === serial )\n        return\n}\n\ndiscoveries = flow.get(\"discoveries\")\ndiscoveries[msg.payload.serial] = msg.payload\n\nmsg.payload = []\nfor(var key in discoveries)\n    msg.payload.push(discoveries[key])\nreturn msg","outputs":1,"noerr":0,"x":710,"y":560,"wires":[["9fcd8892.c838c"]]},{"id":"c4660b4b.f480c8","type":"ui_switch","z":"5586ce6c.59f9c","name":"","label":"Enable discovery","tooltip":"","group":"47871082.761d28","order":1,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":170,"y":560,"wires":[["b1aa722a.de9008","fbf4969c.9d0fd"]]},{"id":"b1aa722a.de9008","type":"function","z":"5586ce6c.59f9c","name":"Initiate","func":"flow.set(\"discoveries\",{});\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":560,"wires":[["21780462.fe1e9c"]]},{"id":"10f9e946.d840e7","type":"function","z":"5586ce6c.59f9c","name":"Camera","func":"delete msg.payload._id\nflow.set(\"camera\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":200,"wires":[["dc2d7575.319cc"]]},{"id":"1594ff4.eb7ca01","type":"ui_button","z":"5586ce6c.59f9c","name":"Refresh","group":"1b21a32.8a1085d","order":1,"width":"3","height":"1","passthru":false,"label":"Refresh","tooltip":"Remove the camera from inventory","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"str","topic":"","x":140,"y":80,"wires":[["9fd62ced.812ff"]]},{"id":"376cd7a0.3a3af8","type":"subflow:75ff8ffc.5be8b","z":"5586ce6c.59f9c","name":"","env":[],"x":230,"y":120,"wires":[["aff30974.767a48"]]},{"id":"de1c0207.9e4498","type":"function","z":"5586ce6c.59f9c","name":"List Cameras","func":"cameras = global.get(\"cameras\");\nif( !cameras ) {\n    cameras = {};\n    global.set(\"cameras\",cameras);\n}\nmsg.payload = [];\nfor( var key in cameras)\n    msg.payload.push( cameras[key] )\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":200,"wires":[["aff30974.767a48"]]},{"id":"dc2d7575.319cc","type":"link out","z":"5586ce6c.59f9c","name":"","links":["4fe8aaad.bdaf5c","adf1f0c0.9130f","1e0a5918.d8e3cf","6a493443.b0b4e4","ac63a79e.5aac"],"x":715,"y":200,"wires":[]},{"id":"e91c6e01.63191","type":"ui_table","z":"5586ce6c.59f9c","group":"47871082.761d28","name":"","order":2,"width":"18","height":"5","columns":[{"field":"name","title":"Name","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"serial","title":"Serial","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"address","title":"Address","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":490,"y":660,"wires":[["c16e8718.b077e"]]},{"id":"9fcd8892.c838c","type":"trigger","z":"5586ce6c.59f9c","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"250","extend":true,"units":"ms","reset":"","bytopic":"all","name":"Wait","x":870,"y":560,"wires":[["ab5832d2.db52f"]]},{"id":"c16e8718.b077e","type":"function","z":"5586ce6c.59f9c","name":"Camera","func":"flow.set(\"camera\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":660,"wires":[["4568a298.0c49bc"]]},{"id":"26fa4e2a.0cdf4a","type":"ui_text_input","z":"5586ce6c.59f9c","name":"","label":"Friendly name","tooltip":"","group":"7521dba6.ea47a4","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":460,"y":240,"wires":[["7c421855.da2fb"]]},{"id":"6a493443.b0b4e4","type":"link in","z":"5586ce6c.59f9c","name":"","links":["d75dd757.0132b","dc2d7575.319cc","939cf95e.305df","670281f4.bd109"],"x":95,"y":240,"wires":[["30a72d4b.c6470a"]]},{"id":"30a72d4b.c6470a","type":"function","z":"5586ce6c.59f9c","name":"Name","func":"camera = flow.get(\"camera\")\nif( !camera )\n    msg.payload = \"\";\nelse\n    msg.payload = camera.name;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":240,"wires":[["26fa4e2a.0cdf4a"]]},{"id":"a5485836.32bc3","type":"ui_form","z":"5586ce6c.59f9c","name":"Add","label":"","group":"6e367848.1000b","order":3,"width":"5","height":"10","options":[{"label":"Address [IP or FQDN]","value":"address","type":"text","required":true,"rows":null},{"label":"Friendly Name","value":"name","type":"text","required":true,"rows":null}],"formValue":{"address":"","name":""},"payload":"","submit":"Add","cancel":"","topic":"","x":410,"y":740,"wires":[["6b3fcf87.922808"]]},{"id":"df2d1563.c3f4d","type":"function","z":"5586ce6c.59f9c","name":"Reset","func":"flow.set(\"password\");\nmsg.payload = {\n    name: \"\",\n    root: \"\",\n    address: \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":700,"wires":[["a5485836.32bc3"]]},{"id":"55281c46.3fdf04","type":"link in","z":"5586ce6c.59f9c","name":"","links":["d75dd757.0132b","4568a298.0c49bc"],"x":95,"y":740,"wires":[["25ab0420.abf314"]]},{"id":"25ab0420.abf314","type":"function","z":"5586ce6c.59f9c","name":"Camera","func":"\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":740,"wires":[["a5485836.32bc3"]]},{"id":"71c2fda7.187d34","type":"link in","z":"5586ce6c.59f9c","name":"","links":["939cf95e.305df","936ed5c5.82d85","6b23fe20.dac7","82995327.359898"],"x":95,"y":700,"wires":[["df2d1563.c3f4d"]]},{"id":"5c70f21c.a20b9c","type":"ui_button","z":"5586ce6c.59f9c","name":"Update","group":"7521dba6.ea47a4","order":4,"width":"0","height":"0","passthru":false,"label":"Update","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":360,"wires":[["aac3cccb.023738"]]},{"id":"aac3cccb.023738","type":"function","z":"5586ce6c.59f9c","name":"Update camera","func":"camera = flow.get(\"camera\");\nif( !camera )\n    return;\n\nname = flow.get(\"name\");\nif( !name )\n    return;\n\ncameras = global.get(\"cameras\");\nif(!cameras)\n    return;\n\nfor(var key in cameras ) {\n    if( cameras[key].serial === camera.serial ) {\n        cameras[key].name = name;\n        return msg;\n    }\n}\n","outputs":1,"noerr":0,"x":440,"y":360,"wires":[["6b23fe20.dac7"]]},{"id":"7c421855.da2fb","type":"function","z":"5586ce6c.59f9c","name":"Name","func":"flow.set(\"name\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":240,"wires":[[]]},{"id":"6b23fe20.dac7","type":"link out","z":"5586ce6c.59f9c","name":"","links":["97d0be8f.3ca9b8","71c2fda7.187d34"],"x":615,"y":360,"wires":[]},{"id":"aa93738.143821","type":"ui_template","z":"5586ce6c.59f9c","group":"7521dba6.ea47a4","name":"Image","order":2,"width":"5","height":"5","format":"<img id=\"{{'cameras_'+$id}}\" class=\"card-img-top\" src=\"\" style=\"width:100%;\">\n\n<script>\n\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n            $(\"#cameras_\"+scope.$id).attr(\"src\", 'data:image/jpeg;base64, ' + msg.payload);\n    });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":430,"y":280,"wires":[[]]},{"id":"ac63a79e.5aac","type":"link in","z":"5586ce6c.59f9c","name":"","links":["dc2d7575.319cc","939cf95e.305df","670281f4.bd109"],"x":95,"y":280,"wires":[["c0a4889e.963e18"]]},{"id":"c0a4889e.963e18","type":"function","z":"5586ce6c.59f9c","name":"Image","func":"camera = flow.get(\"camera\")\nif( !camera )\n    msg.payload = \"\";\nelse\n    msg.payload = camera.image;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":280,"wires":[["aa93738.143821"]]},{"id":"936ed5c5.82d85","type":"link out","z":"5586ce6c.59f9c","name":"","links":["e16ec350.543ee","71c2fda7.187d34"],"x":395,"y":80,"wires":[]},{"id":"e16ec350.543ee","type":"link in","z":"5586ce6c.59f9c","name":"","links":["936ed5c5.82d85","82995327.359898","5b794cab.943674","bf276558.c3f2e8"],"x":95,"y":160,"wires":[["376cd7a0.3a3af8","1f606ba5.dfc0c4"]]},{"id":"9fd62ced.812ff","type":"function","z":"5586ce6c.59f9c","name":"Reset","func":"flow.set(\"camera\");\ncameras = global.get(\"cameras\");\nif(!cameras) {\n    cameras = {};\n    global.set(\"cameras\",cameras)\n}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":80,"wires":[["936ed5c5.82d85"]]},{"id":"ab5832d2.db52f","type":"link out","z":"5586ce6c.59f9c","name":"","links":["d780b653.e7aed8"],"x":975,"y":560,"wires":[]},{"id":"d780b653.e7aed8","type":"link in","z":"5586ce6c.59f9c","name":"","links":["ab5832d2.db52f","4c2133f4.80cb84"],"x":95,"y":660,"wires":[["e91c6e01.63191"]]},{"id":"4568a298.0c49bc","type":"link out","z":"5586ce6c.59f9c","name":"","links":["32df384f.95f1b","55281c46.3fdf04"],"x":755,"y":660,"wires":[]},{"id":"e0a75e71.e9ae18","type":"Axis Camera","z":"5586ce6c.59f9c","name":"Properties","account":"5325eb5.c46bf14","address":"","action":"Get Properties","data":"properties","format":"default","x":730,"y":740,"wires":[["dda39a18.9ed11","7544f574.f8d9a4"]]},{"id":"dda39a18.9ed11","type":"function","z":"5586ce6c.59f9c","name":"Cameras","func":"if( msg.error )\n    return;\n    \nmsg.payload = {\n    address: msg.address,\n    serial: msg.payload.System.SerialNumber,\n    platform: msg.payload.System.Architecture,\n    chip: msg.payload.System.Soc,\n    firmware: msg.payload.Firmware.Version,\n    name: flow.get(\"name\")\n}\n\ncameras = global.get(\"cameras\");\nif(!cameras) {\n    cameras = {};\n    global.set(\"cameras\",cameras)\n}\ncameras[msg.payload.serial] = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":740,"wires":[["82995327.359898","2917398c.52d106"]]},{"id":"82995327.359898","type":"link out","z":"5586ce6c.59f9c","name":"","links":["e16ec350.543ee","71c2fda7.187d34"],"x":1015,"y":740,"wires":[]},{"id":"5eb31437.c25974","type":"function","z":"5586ce6c.59f9c","name":"For Each Camera","func":"cameras = global.get(\"cameras\");\nif(!cameras)\n    return;\n    \nfor( var key in cameras ) {\n    cameras[key].status = \"OK\"\n    node.send({\n        address: cameras[key].address,\n    })\n}\n","outputs":1,"noerr":0,"x":450,"y":440,"wires":[["311ca64b.1e4cc2"]]},{"id":"311ca64b.1e4cc2","type":"Axis Camera","z":"5586ce6c.59f9c","name":"Network","account":"5325eb5.c46bf14","address":"","action":"Restart","data":"network","format":"default","x":660,"y":440,"wires":[[]]},{"id":"c72b5f3f.98a978","type":"ui_button","z":"5586ce6c.59f9c","name":"Reboot","group":"1b21a32.8a1085d","order":3,"width":"3","height":"1","passthru":false,"label":"Reboot All","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":440,"wires":[["5eb31437.c25974"]]},{"id":"fbf4969c.9d0fd","type":"function","z":"5586ce6c.59f9c","name":"Reset","func":"msg.payload = []\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":620,"wires":[["e91c6e01.63191"]]},{"id":"e69fce3f.1900f8","type":"link in","z":"5586ce6c.59f9c","name":"","links":[],"x":95,"y":620,"wires":[["fbf4969c.9d0fd"]]},{"id":"1f606ba5.dfc0c4","type":"function","z":"5586ce6c.59f9c","name":"Reset","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":160,"wires":[["aff30974.767a48"]]},{"id":"2917398c.52d106","type":"function","z":"5586ce6c.59f9c","name":"Remove from List","func":"discoveries = flow.get(\"discoveries\");\ndelete discoveries[msg.payload.serial];\nmsg.payload = [];\nfor(var key in discoveries )\n    msg.payload.push(discoveries[key])\n    \nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":780,"wires":[["4c2133f4.80cb84"]]},{"id":"4c2133f4.80cb84","type":"link out","z":"5586ce6c.59f9c","name":"","links":["d780b653.e7aed8"],"x":1235,"y":780,"wires":[]},{"id":"1b21a32.8a1085d","type":"ui_group","z":"","name":"Camera Inventory","tab":"63ec42d7.97191c","order":1,"disp":true,"width":"18","collapse":true},{"id":"7521dba6.ea47a4","type":"ui_group","z":"","name":"Edit Camera","tab":"63ec42d7.97191c","order":2,"disp":false,"width":"6","collapse":false},{"id":"47871082.761d28","type":"ui_group","z":"","name":"Discovery Discovery","tab":"63ec42d7.97191c","order":4,"disp":true,"width":"18","collapse":true},{"id":"6e367848.1000b","type":"ui_group","z":"","name":"Add Camera","tab":"63ec42d7.97191c","order":3,"disp":true,"width":"6","collapse":true},{"id":"63ec42d7.97191c","type":"ui_tab","z":"","name":"Cameras","icon":"dashboard","order":3,"disabled":false,"hidden":false}]
