device_discovery/flow.json
[{"id":"ddff3c4b.ba183","type":"tab","label":"Device Discovery","disabled":false,"info":""},{"id":"15f2d776.203d69","type":"Axis Discovery","z":"ddff3c4b.ba183","name":"","x":500,"y":100,"wires":[["912791ea.7d1988"]]},{"id":"b133d623.9bece","type":"ui_switch","z":"ddff3c4b.ba183","name":"","label":"Enable discovery","tooltip":"","group":"517d3ab6.4c0234","order":1,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":170,"y":100,"wires":[["ffe76b06.2af318"]]},{"id":"ffe76b06.2af318","type":"function","z":"ddff3c4b.ba183","name":"Initiate","func":"flow.set(\"discoveries\",[]);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":100,"wires":[["15f2d776.203d69"]]},{"id":"3dabb9e8.f0f5d6","type":"ui_table","z":"ddff3c4b.ba183","group":"517d3ab6.4c0234","name":"","order":2,"width":"16","height":"9","columns":[{"field":"name","title":"Name","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"serial","title":"Serial","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"address","title":"Address","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"status","title":"Status","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":590,"y":180,"wires":[["bacfa395.3b0848"]]},{"id":"bacfa395.3b0848","type":"function","z":"ddff3c4b.ba183","name":"Camera","func":"flow.set(\"camera\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":180,"wires":[[]]},{"id":"912791ea.7d1988","type":"function","z":"ddff3c4b.ba183","name":"Process","func":"discoveries = flow.get(\"discoveries\");\nmsg.payload.status = \"New\"\nmsg.payload.known = false;\ndiscoveries.push(msg.payload);\nmsg.payload = discoveries;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":100,"wires":[["4c54650e.62f214"]]},{"id":"4f69d010.fa55","type":"link out","z":"ddff3c4b.ba183","name":"","links":["ab881a05.203bd"],"x":915,"y":100,"wires":[]},{"id":"ab881a05.203bd","type":"link in","z":"ddff3c4b.ba183","name":"","links":["4f69d010.fa55","1d3e248.43b305c","c3a1567e.c86a18"],"x":95,"y":180,"wires":[["b56a8662.3e71c"]]},{"id":"b56a8662.3e71c","type":"function","z":"ddff3c4b.ba183","name":"List","func":"cameras = global.get(\"cameras\");\ndiscoveries = flow.get(\"discoveries\");\nif(!discoveries) {\n    msg.payload = [];\n    return msg;\n}\ndiscoveries.forEach(function(item){\n    if( cameras.hasOwnProperty(item.serial)) {\n        item.name = cameras[item.serial].name;\n        item.known = true;\n        item.status = \"Inventory\"\n    }\n})\n\nmsg.payload = discoveries\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":180,"wires":[["3dabb9e8.f0f5d6"]]},{"id":"4c54650e.62f214","type":"trigger","z":"ddff3c4b.ba183","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"400","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":810,"y":100,"wires":[["4f69d010.fa55"]]},{"id":"dc2825ea.85e4e8","type":"ui_button","z":"ddff3c4b.ba183","name":"","group":"517d3ab6.4c0234","order":3,"width":0,"height":0,"passthru":false,"label":"Add new devices to inventory","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":240,"wires":[["8c83074.ea8be78","c61f07fc.62557"]]},{"id":"8c83074.ea8be78","type":"function","z":"ddff3c4b.ba183","name":"For Each Discovery","func":"discoveries = flow.get(\"discoveries\");\n\ndiscoveries.forEach(function(item){\n    if( item.known === false ) {\n        node.send({\n            address: item.address,\n        })\n    }\n})\n","outputs":1,"noerr":0,"x":490,"y":240,"wires":[["a54212d5.df1338"]]},{"id":"a54212d5.df1338","type":"Axis Camera","z":"ddff3c4b.ba183","name":"","account":"452c1f48.44fc2","address":"","action":"Get Properties","data":"properties","format":"default","x":680,"y":240,"wires":[["50dea6f7.3a23a"]]},{"id":"50dea6f7.3a23a","type":"function","z":"ddff3c4b.ba183","name":"Process","func":"discoveries = flow.get(\"discoveries\");\n\nvar discovery = null;\n\ndiscoveries.forEach(function(item){\n    if( msg.address === item.address )\n        discovery = item;\n})\n\nif( msg.error ) {\n    if( msg.payload.search(\"Not Authorized\"))\n        discovery.status = \"Not authorized\"\n    else    \n        discovery.status = \"Unable to connect\";\n    msg.payload = \"Error\";\n    return msg;\n}\n\n\nif( !msg.payload.hasOwnProperty(\"System\") ) {\n    discovry.status = \"Connection OK but invalid response\"\n    msg.payload = \"Error\";\n    return msg;\n}\n\nif( !msg.payload.System.hasOwnProperty(\"SerialNumber\") ) {\n    discovry.status = \"Connection OK but invalid response\"\n    msg.payload = \"Error\";\n    return msg;\n}\n\ncameras = global.get(\"cameras\");\nif(!cameras) {\n    cameras = {};\n    global.set(\"cameras\",cameras)\n}\n\ncameras[msg.payload.System.SerialNumber] = {\n    serial: msg.payload.System.SerialNumber,\n    address: msg.address,\n    name: discovery.name,\n    platform: msg.payload.System.Architecture\n}\nmsg.payload = cameras[msg.payload.System.SerialNumber];\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":240,"wires":[["b4c68fd0.de65d"]]},{"id":"b4c68fd0.de65d","type":"trigger","z":"ddff3c4b.ba183","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"400","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":1010,"y":240,"wires":[["1d3e248.43b305c"]]},{"id":"1d3e248.43b305c","type":"link out","z":"ddff3c4b.ba183","name":"","links":["ab881a05.203bd"],"x":1135,"y":240,"wires":[]},{"id":"c61f07fc.62557","type":"function","z":"ddff3c4b.ba183","name":"Reset","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":200,"wires":[["3dabb9e8.f0f5d6"]]},{"id":"388805f5.e7c3d2","type":"ui_ui_control","z":"ddff3c4b.ba183","name":"","events":"change","x":140,"y":40,"wires":[["8618a329.e8e9e"]]},{"id":"8618a329.e8e9e","type":"function","z":"ddff3c4b.ba183","name":"Stop Discovery","func":"if( msg.payload === \"change\" ) {\n    flow.set(\"discoveries\")\n    msg.payload = false;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":320,"y":40,"wires":[["c3a1567e.c86a18","b133d623.9bece"]]},{"id":"c3a1567e.c86a18","type":"link out","z":"ddff3c4b.ba183","name":"","links":["ab881a05.203bd"],"x":515,"y":40,"wires":[]},{"id":"517d3ab6.4c0234","type":"ui_group","z":"","name":"Discovered Devices","tab":"14eb8ba2.1b363c","order":1,"disp":false,"width":"16","collapse":false},{"id":"452c1f48.44fc2","type":"Camera Account","z":"","name":"Node-Red-Account","protocol":"http"},{"id":"14eb8ba2.1b363c","type":"ui_tab","z":"","name":"Device Discovery","icon":"dashboard","disabled":false,"hidden":false}]