tensorflow_object_detection/flow.json
[{"id":"9940b0b4.469a6","type":"tab","label":"TensorFlow","disabled":false,"info":""},{"id":"97acb9cc.7d1c08","type":"Axis Camera","z":"9940b0b4.469a6","name":"Get Image","account":"670599af.a06c58","address":"","action":"Image","data":"resolution=640x360","format":"binary","x":310,"y":100,"wires":[["c7b33b58.7b05d"]]},{"id":"c7b33b58.7b05d","type":"function","z":"9940b0b4.469a6","name":"Image?","func":"if( msg.error ) {\n    node.warn(\"Unable to capture image\")\n    return;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":100,"wires":[["49f28516.c4c084","36234380.2703c4"]]},{"id":"49f28516.c4c084","type":"tensorflowCoco","z":"9940b0b4.469a6","name":"TensorFlow Analysis","modelUrl":"http://localhost:1880/coco/model.json","scoreThreshold":0.5,"passthru":false,"x":660,"y":120,"wires":[["62c52ef0.d68b58"]]},{"id":"36234380.2703c4","type":"base64","z":"9940b0b4.469a6","name":"","action":"","property":"payload","x":620,"y":80,"wires":[["6d11ebde.d0df44"]]},{"id":"62c52ef0.d68b58","type":"function","z":"9940b0b4.469a6","name":"Topic: tensorflow","func":"msg.topic = \"tensorflow\"\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":120,"wires":[["7f98b836.65e608"]]},{"id":"6d11ebde.d0df44","type":"function","z":"9940b0b4.469a6","name":"Topic: image","func":"msg.topic = \"image\"\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":80,"wires":[["7f98b836.65e608"]]},{"id":"7f98b836.65e608","type":"ui_template","z":"9940b0b4.469a6","group":"6894d5bd.38f21c","name":"Dashboard Display","order":3,"width":"13","height":"7","format":"<div id=\"{{'view_'+$id}}\" style=\"width:640px; height:360px\">\n    <div id=\"{{'frame_'+$id}}\" style=\"width:100%; height:100%; position:relative\">\n        <img id=\"{{'image_'+$id}}\" class=\"card-img-top\" src=\"\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\">\n        <canvas id=\"{{'canvas_'+$id}}\" width=\"1000\" height=\"1000\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></canvas>\n    </div>\n</div>\n\n<script>\n\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if (!msg)\n            return;\n            \n        if( msg.topic === \"image\" ) {\n            $(\"#image_\"+scope.$id).attr(\"src\", 'data:image/jpeg;base64, ' + msg.payload);\n            return;\n        }\n    \n        if( msg.topic === \"tensorflow\" ) {\n            console.log(\"Tensor Flow\");\n            /*\n                msg.payload\n                [\n                    {\n                        \"bbox\":[x,y,w,h],\n                        \"class\":\"car\",\n                        \"score\":0.9633461833000183\n                    },{\n                        ...\n                    }\n                ]\n            */\n            ctx = document.getElementById(\"canvas_\"+scope.$id).getContext(\"2d\");\n            if( !ctx )\n                return;\n            ctx.beginPath();\n            ctx.clearRect(0, 0, 1000, 1000 );\n            ctx.stroke();\n                \n            list = msg.payload;\n            for( var i = 0; i < list.length; i++ ) {\n                var box = list[i].bbox;\n                var type = list[i].class;\n                \n                ctx.lineWidth = 3;\n                ctx.strokeStyle = '#ffee58';\n                ctx.beginPath();\n                var x = parseInt(box[0] * 1000 / 640);\n                var y = parseInt(box[1] * 1000 / 360);\n                var width = parseInt(box[2] * 1000 / 640);\n                var height = parseInt(box[3] * 1000 / 360);\n                ctx.rect( x,y,width,height ); \n                ctx.font = \"40px Arial\";\n                ctx.fillStyle = '#ffee58';\n                ctx.fillText(type, x, y - 20);\n                ctx.stroke();\n            }\n        }\n    });\n})(scope);\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1090,"y":100,"wires":[[]]},{"id":"22c81057.f33588","type":"ui_button","z":"9940b0b4.469a6","name":"","group":"6894d5bd.38f21c","order":1,"width":"3","height":"1","passthru":false,"label":"Take a Picture","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":100,"wires":[["97acb9cc.7d1c08"]]},{"id":"670599af.a06c58","type":"Camera Account","z":"","name":"root","protocol":"http"},{"id":"6894d5bd.38f21c","type":"ui_group","z":"","name":"Image","tab":"1d099f33.842a49","order":1,"disp":false,"width":"13","collapse":false},{"id":"1d099f33.842a49","type":"ui_tab","z":"","name":"TensorFlow","icon":"dashboard","disabled":false,"hidden":false}]
