tensorflow_object_detection/flow.json
[{"id":"b1080aac.eda14","type":"tab","label":"TensorFlow","disabled":false,"info":""},{"id":"74e73d1.9391bc4","type":"Axis Camera","z":"b1080aac.eda14","name":"Get Image","account":"5325eb5.c46bf14","address":"back.juhlin.me","action":"Image","data":"resolution=640x360&text=0","format":"binary","x":310,"y":100,"wires":[["2a92b36d.fc390c"]]},{"id":"2a92b36d.fc390c","type":"function","z":"b1080aac.eda14","name":"Image?","func":"if( msg.error ) {\n    node.warn(\"Unable to capture image\")\n    return;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":100,"wires":[["89b6601.1072da","e3c6c075.8a88f8"]]},{"id":"89b6601.1072da","type":"tensorflowCoco","z":"b1080aac.eda14","name":"TensorFlow Analysis","modelUrl":"http://localhost:1880/coco/model.json","scoreThreshold":0.5,"passthru":false,"x":660,"y":120,"wires":[["1b3c9442.6d11ec"]]},{"id":"e3c6c075.8a88f8","type":"base64","z":"b1080aac.eda14","name":"","action":"","property":"payload","x":620,"y":80,"wires":[["f18049d6.afa9a8"]]},{"id":"1b3c9442.6d11ec","type":"function","z":"b1080aac.eda14","name":"Topic: tensorflow","func":"msg.topic = \"tensorflow\"\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":120,"wires":[["b7138bdb.9c854"]]},{"id":"f18049d6.afa9a8","type":"function","z":"b1080aac.eda14","name":"Topic: image","func":"msg.topic = \"image\"\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":80,"wires":[["b7138bdb.9c854"]]},{"id":"b7138bdb.9c854","type":"ui_template","z":"b1080aac.eda14","group":"38610711.dc9b","name":"Dashboard Display","order":3,"width":"13","height":"7","format":"<div id=\"{{'view_'+$id}}\" style=\"width:640px; height:360px\">\n    <div id=\"{{'frame_'+$id}}\" style=\"width:100%; height:100%; position:relative\">\n        <img id=\"{{'image_'+$id}}\" class=\"card-img-top\" src=\"\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\">\n        <canvas id=\"{{'canvas_'+$id}}\" width=\"1000\" height=\"1000\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></canvas>\n    </div>\n</div>\n\n<script>\n\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if (!msg)\n            return;\n            \n        if( msg.topic === \"image\" ) {\n            $(\"#image_\"+scope.$id).attr(\"src\", 'data:image/jpeg;base64, ' + msg.payload);\n            return;\n        }\n    \n        if( msg.topic === \"tensorflow\" ) {\n            console.log(\"Tensor Flow\");\n            /*\n                msg.payload\n                [\n                    {\n                        \"bbox\":[x,y,w,h],\n                        \"class\":\"car\",\n                        \"score\":0.9633461833000183\n                    },{\n                        ...\n                    }\n                ]\n            */\n            ctx = document.getElementById(\"canvas_\"+scope.$id).getContext(\"2d\");\n            if( !ctx )\n                return;\n            ctx.beginPath();\n            ctx.clearRect(0, 0, 1000, 1000 );\n            ctx.stroke();\n                \n            list = msg.payload;\n            for( var i = 0; i < list.length; i++ ) {\n                var box = list[i].bbox;\n                var type = list[i].class;\n                \n                ctx.lineWidth = 3;\n                ctx.strokeStyle = '#ffee58';\n                ctx.beginPath();\n                var x = parseInt(box[0] * 1000 / 640);\n                var y = parseInt(box[1] * 1000 / 360);\n                var width = parseInt(box[2] * 1000 / 640);\n                var height = parseInt(box[3] * 1000 / 360);\n                ctx.rect( x,y,width,height ); \n                ctx.font = \"40px Arial\";\n                ctx.fillStyle = '#ffee58';\n                ctx.fillText(type, x, y - 20);\n                ctx.stroke();\n            }\n        }\n    });\n})(scope);\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1090,"y":100,"wires":[[]]},{"id":"3eaea0a8.aba39","type":"ui_button","z":"b1080aac.eda14","name":"","group":"38610711.dc9b","order":1,"width":"3","height":"1","passthru":false,"label":"Take a Picture","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":100,"wires":[["74e73d1.9391bc4"]]},{"id":"5325eb5.c46bf14","type":"Camera Account","z":"","name":"root","protocol":"http"},{"id":"38610711.dc9b","type":"ui_group","z":"","name":"Image","tab":"97a9caf1.db7d6","order":1,"disp":false,"width":"13","collapse":false},{"id":"97a9caf1.db7d6","type":"ui_tab","z":"","name":"TensorFlow","icon":"dashboard","disabled":false,"hidden":false}][{"id":"b1080aac.eda14","type":"tab","label":"TensorFlow","disabled":false,"info":""},{"id":"74e73d1.9391bc4","type":"Axis Camera","z":"b1080aac.eda14","name":"Get Image","account":"5325eb5.c46bf14","address":"back.juhlin.me","action":"Image","data":"resolution=640x360&text=0","format":"binary","x":310,"y":100,"wires":[["2a92b36d.fc390c"]]},{"id":"2a92b36d.fc390c","type":"function","z":"b1080aac.eda14","name":"Image?","func":"if( msg.error ) {\n    node.warn(\"Unable to capture image\")\n    return;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":100,"wires":[["89b6601.1072da","e3c6c075.8a88f8"]]},{"id":"89b6601.1072da","type":"tensorflowCoco","z":"b1080aac.eda14","name":"TensorFlow Analysis","modelUrl":"http://localhost:1880/coco/model.json","scoreThreshold":0.5,"passthru":false,"x":660,"y":120,"wires":[["1b3c9442.6d11ec"]]},{"id":"e3c6c075.8a88f8","type":"base64","z":"b1080aac.eda14","name":"","action":"","property":"payload","x":620,"y":80,"wires":[["f18049d6.afa9a8"]]},{"id":"1b3c9442.6d11ec","type":"function","z":"b1080aac.eda14","name":"Topic: tensorflow","func":"msg.topic = \"tensorflow\"\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":120,"wires":[["b7138bdb.9c854"]]},{"id":"f18049d6.afa9a8","type":"function","z":"b1080aac.eda14","name":"Topic: image","func":"msg.topic = \"image\"\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":80,"wires":[["b7138bdb.9c854"]]},{"id":"b7138bdb.9c854","type":"ui_template","z":"b1080aac.eda14","group":"38610711.dc9b","name":"Dashboard Display","order":3,"width":"13","height":"7","format":"<div id=\"{{'view_'+$id}}\" style=\"width:640px; height:360px\">\n    <div id=\"{{'frame_'+$id}}\" style=\"width:100%; height:100%; position:relative\">\n        <img id=\"{{'image_'+$id}}\" class=\"card-img-top\" src=\"\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\">\n        <canvas id=\"{{'canvas_'+$id}}\" width=\"1000\" height=\"1000\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></canvas>\n    </div>\n</div>\n\n<script>\n\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if (!msg)\n            return;\n            \n        if( msg.topic === \"image\" ) {\n            $(\"#image_\"+scope.$id).attr(\"src\", 'data:image/jpeg;base64, ' + msg.payload);\n            return;\n        }\n    \n        if( msg.topic === \"tensorflow\" ) {\n            console.log(\"Tensor Flow\");\n            /*\n                msg.payload\n                [\n                    {\n                        \"bbox\":[x,y,w,h],\n                        \"class\":\"car\",\n                        \"score\":0.9633461833000183\n                    },{\n                        ...\n                    }\n                ]\n            */\n            ctx = document.getElementById(\"canvas_\"+scope.$id).getContext(\"2d\");\n            if( !ctx )\n                return;\n            ctx.beginPath();\n            ctx.clearRect(0, 0, 1000, 1000 );\n            ctx.stroke();\n                \n            list = msg.payload;\n            for( var i = 0; i < list.length; i++ ) {\n                var box = list[i].bbox;\n                var type = list[i].class;\n                \n                ctx.lineWidth = 3;\n                ctx.strokeStyle = '#ffee58';\n                ctx.beginPath();\n                var x = parseInt(box[0] * 1000 / 640);\n                var y = parseInt(box[1] * 1000 / 360);\n                var width = parseInt(box[2] * 1000 / 640);\n                var height = parseInt(box[3] * 1000 / 360);\n                ctx.rect( x,y,width,height ); \n                ctx.font = \"40px Arial\";\n                ctx.fillStyle = '#ffee58';\n                ctx.fillText(type, x, y - 20);\n                ctx.stroke();\n            }\n        }\n    });\n})(scope);\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1090,"y":100,"wires":[[]]},{"id":"3eaea0a8.aba39","type":"ui_button","z":"b1080aac.eda14","name":"","group":"38610711.dc9b","order":1,"width":"3","height":"1","passthru":false,"label":"Take a Picture","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":100,"wires":[["74e73d1.9391bc4"]]},{"id":"5325eb5.c46bf14","type":"Camera Account","z":"","name":"root","protocol":"http"},{"id":"38610711.dc9b","type":"ui_group","z":"","name":"Image","tab":"97a9caf1.db7d6","order":1,"disp":false,"width":"13","collapse":false},{"id":"97a9caf1.db7d6","type":"ui_tab","z":"","name":"TensorFlow","icon":"dashboard","disabled":false,"hidden":false}]